/* CSS */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: rgb(239, 234, 71);
    overflow: hidden;
    }
div {
    width:300px;
    margin:auto;
    }
.buttonY {
  display: inline-block;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.buttonY:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.buttonY:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

img{
    display: none;
}

.buttonN {
    display: inline-block;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgb(167, 20, 20) 0%, rgb(247, 102, 102) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #a7141498;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buttonN:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #a714149d;
  }
  
  .buttonN:active {
    box-shadow: 0 0.3em 1em -0.5em #a714149d;
    top: 5em;
  }
